footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 3;
}

footer input {
    position: absolute;
    left: 17px;
    top: 25px;
    width: 250px;
    height: 30px;
    border: none;
}

footer input::placeholder {
    color: #000000;
    font-style: italic;
    font-weight: 700;
}

footer img {
    position: absolute;
    top: 27px;
    right: 27px;
    font-size: 26px;
}
.recipient {
    position: fixed;
    top: 60px;
    left: 17px;
}
.recipient p {
    font-weight: 300;
    color: #868686;
    font-size: 13px;
}