header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    z-index: 3;
}

header img:first-of-type{
    position: absolute;
    top: 16px;
    left: 22px;
    width: 75px;
    height: 53px;
}

header img:last-of-type{
    position: fixed;
    top: 25.03px;
    left: 310.41px;
    width: 42.19px;
    height: 30.94px;
}