main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #F3F3F3;
    width: 100%;
}

main div:first-of-type {
    margin-top: 106px;
}
main div:last-of-type {
    margin-bottom: 106px;
}

.chat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 4px;
    padding-left: 8px;
    overflow-y: hidden;
    line-height: 20px;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.message {
    background-color: #ffffff;
}
.time {
    color: #AAAAAA;
}
.from {
    font-weight: 700;
}
.to {
    font-weight: 700;
}


