.side-menu-all {
    height: 100%;
    width: 375px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    visibility: hidden;
    z-index: 4;
}

.side-menu {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    z-index: 6;
    transition: width 1s;
}

.side-menu h4 {
    width: 259px;
    height: 84px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.side-menu-background {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    transition: width 1s;
   
}
